<div class="row">
    <div class="col-md-6">
        <h2> Manage Product Brands </h2>
    </div>

</div>

<kendo-dialog title="New Brand" *ngIf="opened" (close)="close()">

    <form name="form" #f="ngForm" novalidate #form (onSubmit)="handleFormSubmit($event)">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !brand_name.valid }">
            <label for="brand_name">Brand name</label>
            <input id="brand_name" type="text" class="form-control" name="brand_name" [(ngModel)]="newBrand.brand_name" #brand_name="ngModel" required />
            <div *ngIf="f.submitted && !brand_name.valid" class="help-block">Brand name is required</div>
        </div>
        <div class="form-group">
            <label for="brand_desc">Brand description</label>

            <input id="brand_desc" type="text" class="form-control" name="brand_desc" [(ngModel)]="newBrand.brand_desc" #brand_desc="ngModel" />
        </div>
    </form>

    <kendo-dialog-actions>
        <button kendoButton (click)="close()" >Cancel</button>
        <button kendoButton type="submit" (click)="handleFormSubmit($event)" [primary]="true">Create</button>
    </kendo-dialog-actions>

</kendo-dialog>

<kendo-grid
        [data]="brands"
        [pageable]="true" [sortable]="true"
        [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
        (dataStateChange)="onStateChange($event)"
        (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
        (save)="saveHandler($event)" (remove)="removeHandler($event)"
        [height]="370">

    <kendo-grid-toolbar>
        <button kendoButton [primary]="true"(click)="open()"> New Brand </button>
        <button kendoButton [primary]="true"> More options </button>
    </kendo-grid-toolbar>

    <kendo-grid-column width="50" field="brand_id" title="ID"></kendo-grid-column>
    <kendo-grid-column width="350" field="brand_name" title="Name">
        <template *ngIf="!brands">
            <md-progress-spinner></md-progress-spinner>
        </template>
    </kendo-grid-column>
    <kendo-grid-column field="brand_desc" title="Description"></kendo-grid-column>
    <kendo-grid-column width="150" field="status" title="Status"></kendo-grid-column>

    <kendo-grid-command-column title="Action" width="150">
        <template let-isNew="isNew">
            <button kendoGridEditCommand class="k-primary">
                &nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;
            </button>
            <button kendoGridRemoveCommand>
                <md-icon>delete</md-icon>
            </button>
            <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
            <button kendoGridCancelCommand>
                <md-icon>
                    {{ isNew ? 'discard' : 'cancel' }}
                </md-icon>
            </button>
        </template>
    </kendo-grid-command-column>

</kendo-grid>
<button md-button (click)="brandService.getBrand()"> Get Brands</button>